@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
    margin: 0;
    font-family: 'Courgette', cursive;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.title-container {
    background: #FEDFE7;
    color: #8392D3;
    font-size: 1.5em;
    

}

.city-container {





}