@import url('ttps://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


}

.logo{
    width: 80px;
}

.website-title{
    align-items: center;
    flex-grow: .1;

}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.container {
    text-align: center;
    padding: .8em 1.2em;
    color: #8392D3;
    font-size: .9em;
}

.title-container {
    background: #FEDFE7;
    color: #8392D3;
    font-size: 2em;
    

}

.city-container {
    background-image: url("../images/background.jpg");
    -webkit-background-size: cover;
    background-size: 35%;
    
    /*display: flex;
    flex-flow: row wrap; */


}

.city-container ul{
    font-size:2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;


}

.city-container li{
    height: 70px;    
    flex-basis: 25%;
}

@media screen and (max-width:666 px){
    .city-container{
        background-repeat: repeat-x;
        background-size: cover;
    }
}

.playlist-container{
    background: #FEDFE7; 
    height: 20em;
}

.footer-container{
    background: #03024E;
}

.footer-container ul{
    font-size:2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;


}

.footer-container li{
    height: 80px;    
    flex-basis: 25%;
}



