@import url('ttps://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo{
    width: 80px;
}

.website-title{
    align-items: center;
    flex-grow: .1;

}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.container {
    text-align: center;
    padding: .8em 1.2em;
    color: #8392D3;
    font-size: .9em;
}

.title-container {
    background: #FEDFE7;
    color: #8392D3;
    font-size: 2em;
    

}

@media screen and (max-width: 666px){
    .title-container{
        font-size: 1.5em;      
    }
}

.city-container {
    background-image: url("/images/background.jpg");
    -webkit-background-size: cover;
    background-size: 35%;
    padding-top: 20px;
}

:root, body{
    height: 100vh;
}

.city-container ul{
    font-size:2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

@media screen and (max-width: 666px){
    .city-container ul{
        font-size: 1.5em;      
    }
}

.city-container li{
    height: 70px;    
    flex-basis: 30%;
}

.city-container li a{
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 666px){
    .city-container{
        background-repeat: repeat-x;
        background-size: cover;       
    }
}

.playlist-container{
    background: #FEDFE7;
    height: 20em;
    display: flex;
    flex-direction: column;
}

.controllers {
    display: block;
    cursor: pointer;
}

#play{
    width: 75px;
    margin-top: 60px;
    cursor: pointer;
}

#right{
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
}

#left{
    width: 50px;
    margin-right: 20px;
    cursor: pointer;
}

.footer-container{
    background: #03024E;
}

.footer-container ul{
    font-size: 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;

    padding-top: 40px;

}

@media screen and (max-width: 666px){
    .footer-container ul{
        font-size: 1.5em;      
    }
}

.footer-container li{
    height: 70px;    
    flex-basis: 25%;
}





